*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: rgb(255 217 17);

}



input{
    background-color: white;
    margin: 16px;
}

button{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.errMssg{
    color: red
}

.profile-header{
    margin: 10px;
    text-align: center;
}
/* .note{

    border: solid black 1px;
    padding: 12px;
    margin: 55px;
    cursor: pointer;
    border-radius: 20px;
    width: 25%;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
/* } */
.note-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-family: "Reenie Beanie";
    font-style: normal;
    color: #000;
    background: #1cc6bb;
    height: 10em;
    width: 10em;
    padding: 1em;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);

}

.note > h1{
    background: #1cc6bb;

}

.note:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 

.note-container{
    /* background-image: url('https://media1.giphy.com/media/iqatr9kJTDezD9YLpZ/giphy.webp?cid=790b7611ii6w26sa4mfmw3ju5laqmqsxea2bh2vcr5jlrdq6&ep=v1_gifs_search&rid=giphy.webp&ct=g'); */
}

.editing-note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-family: "Reenie Beanie";
    font-style: normal;
    color: #000;
    background: #1cc6bb;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);

}

.editing-note > h2 {
    background: #1cc6bb;
}
.editing-note > p{
    background: #1cc6bb;
}

.first-note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-family: "Reenie Beanie";
    font-style: normal;
    color: #000;
    background: #1cc6bb;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);

}
.first-img{
    width: 85px;
}

.first-note > h1 {
    background: #1cc6bb;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid black 1px;
}

p{
    font-style: oblique;
    margin: 15px;
}

.auth-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://media1.giphy.com/media/iqatr9kJTDezD9YLpZ/giphy.webp?cid=790b7611ii6w26sa4mfmw3ju5laqmqsxea2bh2vcr5jlrdq6&ep=v1_gifs_search&rid=giphy.webp&ct=g');
}

.auth-form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;   
    border: solid black 2px;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 32px 4px, rgba(255, 255, 255, 0.8) -6px -2px 32px 4px;
    margin: 15px;
}

.auth-header{
    padding: 10px;
}

.auth-form > button {
    background-color: white;
    max-width: fit-content;
}
.auth-question{
    margin: 12px;
    cursor: pointer;
}


/* this is a rainbow box shadow thingie 

box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
*/